
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Default/Index.cshtml";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="masthead-avatar mb-5" style="width: 300px" src="~/web/assets/img/portfolio/opened-book-with-empty-pages-free-vector.webp" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Welcome to our library</h1>
        </div>
</header>