@model LibraryManagementSystem.EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Default/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="col-sm-12 col-xl-12">
    <div class="rounded h-100 p-4">
        <h6 class="mb-4">Add New Category</h6>
        <form method="post">
            <div class="mb-3">
                <label for="CategoryName" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="CategoryName" asp-for="CategoryName" />
            </div>            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
